body {
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

nav {
    z-index: 2;
    height: 66px;
    width: 93vw;
    margin: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: white;
    font-weight: bolder;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container1 {
    display: flex;
    height: 50px;
    width: 45vw;
    gap: 30px;
    align-items: center;
    margin-left: 30px;
}

.box {
    cursor: pointer;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.box:hover {
    background-color: white;
    color: black;
}




.box1:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.box4 {
    width: 120px;

}

.danda {
    border: 1px solid gray;
    height: 23px;
    width: 1px;
    background-color: gray;
}

.box6 {
    width: auto;
    display: flex;
    gap: 8px;
    margin-left: 20px;
}

.container2 {
    display: flex;
    position: relative;
    left: 15px;
    height: 50px;
    width: auto;
    gap: 20px;
    align-items: center;
}

.polygon {
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.box11 {
    width: 110px;
    background-color: #177fd3;
    margin-right: 40px;
}

.box10 {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
}

.sq:hover {
    background-color: white;
    color: black;
}

.rec {
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.box8 {
    border-radius: 10px;
}

.box11:hover {
    background-color: #228fe9;
    box-shadow: 0.1px 0.1px 15px #98cffb;
}

.sec1 {
    position: relative;
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg");
    height: 95vh;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;

}

.sec2 {
    position: relative;
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Right.jpg");
    height: 95vh;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.sec3 {
    background-image: none;
    height: 80vh;
}

.text3 {
    position: relative;
    display: flex;
}


.text1 {
    position: relative;
    width: 50.8vw;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    box-shadow: 90px 0 180px -30px rgba(0, 0, 0, 0.97);
   
}



.heading1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    width: 45vw;
    height: 100px;
    font-size: 50px;
    position: relative;
    top: 85px;
    left: 68px;
  
}

.sub1 {
    height: 80px;
    width: 50vw;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    position: relative;
    top: 90px;
    left: 65px;
}

.sub2 {
    width: 40vw;
}

button {
    height: 62px;
    width: 24vw;
    background-color: white;
    border: 2px solid white;
    border-radius: 9px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 540;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 65px;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scaleX(1.07) scaleY(1.05);
    color: rgb(75, 74, 74);


}

.buttons1 {
    position: relative;

    height: auto;
    width: 30vw;
  
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.effective1 {
   
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    justify-content: center;
    height: 35px;
}

.effective2 {
    height: 5px;
}

.space {
    display: flex;
    flex-direction: column;
    gap: 45px;
}


.rent {
    width: 8.5vw;
}

.item {
    border-radius: 10px;
    cursor: pointer;
}

.item:hover{
box-shadow: 7px 7px 20px rgba(216, 210, 210, 0.3);
}

.grid {
    height: 65vh;
    width: 43vw;
 
    position: absolute;
    left: 51vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.item1 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_AppleTV_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.item2 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Crunchyroll_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.item3 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_LGP_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.item4 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Discovery_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.item5 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Anime_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.item6 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Manoramamax_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.item7 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Chaupal_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.item8 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_BBC_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.item9 {
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/Channels/MLP/426x294_Fancode_V1._AC_SX400_QL80_FP_.png");
    background-size: cover;
}

.heading2{
    position: relative;
    top: 5px;
}

.sub3{
     position: relative;
    top: 15px;
}

footer{
    height: 140px;
    width: 99vw;
    background-color: #222222;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
}

.footimg{
    display: flex;
    justify-content: center;

}

.links{
    display: flex;
    gap: 20px;
    justify-content: center;
}


.linka{
     color:#68aadf;
}

a{
    text-decoration-line: none;
   font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 15px;
}

.last{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 15px;
    color:#2972df;
    display: flex;
    justify-content: center;
}

.gap{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

mobile-warning {
    display: none;
    text-align: center;
    padding: 50px;
    font-size: 18px;
    background-color: #f8d7da;
    color: #721c24;
    margin: 50px auto;
 width: auto;
}

@media screen and (max-width: 1300px) {
   
    main{
        display: none;
    }
    nav{
        display: none;
    }

    .mobile-warning {
        display: block;
    }
    
    
}

